/* AnaSayfa CSS */
.anasayfa_wrapper {
  height: 700px; /* Yükseklik ayarı */
  overflow: hidden; /* Taşmayı engelle */
  position: relative; /* İç öğeleri konumlandırmak için */
}

.anasayfa_image {
  position: relative; /* Pozisyon ayarları */
  width: 100%; /* Genişliği tam yap */
  height: 100vh; /* Yüksekliği tam yap */
  overflow: hidden; /* Taşmayı önle */
}

.slick-active .anasayfa_image {
  opacity: 1; /* Aktif slide'da görünür */
  animation: zoomIn 10s ease-in-out; /* Yavaş yakınlaşma efekti */
}

@keyframes zoomIn {
  0% {
    transform: scale(1); /* Başlangıçta orijinal boyut */
  }
  100% {
    transform: scale(1.2); /* Son durumda daha fazla yakınlaşma */
  }
}

/* Info Button Styling */
.info-button-container {
  position: absolute;
  bottom: 20px; /* Sayfanın en altına yakın */
  left: 50%; /* Ortaya yerleştir */
  transform: translateX(-50%); /* Tam olarak ortala */
  text-align: center; /* İçeriği ortala */
}

.info-button {
  background-color: #000; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  border-radius: 50%; /* Yuvarlak buton */
  width: 20px; /* Buton genişliği */
  height: 20px; /* Buton yüksekliği */
  display: flex; /* Flexbox kullanarak ortala */
  align-items: center; /* Dikey ortalama */
  justify-content: center; /* Yatay ortalama */
  font-size: 24px; /* Simge boyutu */
  cursor: default; /* Default cursor */
  position: relative; /* İç öğeleri konumlandırmak için */
}

.tooltip {
  display: none; /* Varsayılan olarak görünmez */
  position: absolute; /* Mutlak konumlandırma */
  bottom: 60px; /* Butonun üstünde */
  left: 50%;
  transform: translateX(-50%); /* Tam olarak ortala */
  background-color: #000; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  padding: 10px; /* İç boşluk */
  border-radius: 5px; /* Yuvarlak köşeler */
  white-space: nowrap; /* Satır kaydırmayı engelle */
  z-index: 10; /* Diğer öğelerin üstünde olmasını sağla */
}

.info-button:hover + .tooltip {
  display: block; /* Hover durumunda görünür */
}

/* Social Buttons Styling */
.social-buttons {
  position: absolute; /* Mutlak konumlandırma */
  bottom: 20px; /* Sayfanın en altına yakın */
  right: 20px; /* Sağ tarafta */
  display: flex; /* Flexbox kullanarak yan yana diz */
  flex-direction: column; /* Dikey olarak diz */
  gap: 10px; /* Butonlar arasında boşluk */
}

.social-button {
  background-color: #fff; /* Arka plan rengi */
  color: #000; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  border-radius: 50%; /* Yuvarlak buton */
  width: 40px; /* Buton genişliği */
  height: 40px; /* Buton yüksekliği */
  display: flex; /* Flexbox kullanarak ortala */
  align-items: center; /* Dikey ortalama */
  justify-content: center; /* Yatay ortalama */
  font-size: 20px; /* Simge boyutu */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, color 0.3s; /* Geçiş efekti */
  text-decoration: none; /* Link altı çizgilerini kaldır */
}

.social-button i {
  color: #000; /* İkon rengi */
}

.social-button:hover {
  background-color: #000; /* Arka plan rengi hover durumunda */
  color: #fff; /* Yazı rengi hover durumunda */
}

.social-button:hover i {
  color: #fff; /* İkon rengi hover durumunda */
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.cookie-banner button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-banner button:hover {
  background-color: #45a049;
}
