.anasayfa_wrapper {
  overflow: hidden;
  position: relative;
}

.anasayfa_image {
  position: relative;
  overflow: hidden;
}

.slick-active .anasayfa_image {
  opacity: 1;
  animation: zoomIn 10s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Info Button Styling */
.info-button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.info-button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: default;
  position: relative;
}

/* Tooltip görünümü :hover üzerine açılacak */
.info-button-container:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
}

/* Social Buttons Styling */
.social-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.social-button i {
  color: #000;
}

.social-button:hover {
  background-color: #000;
  color: #fff;
}

.social-button:hover i {
  color: #fff;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.cookie-banner a {
  color: white;
  text-decoration: underline;
}

.cookie-banner button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cookie-banner button:hover {
  background-color: #000;
  color: #fff;
}
