
.image-container {
  position: relative;
  overflow: hidden;
}

.card-media {
  display: block;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.card-media:hover {
  transform: scale(1.05); /* Hafif büyütme efekti */
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 79, 144, 0.7); /* Logonun rengi */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.project-title {
  color: #000000; /* Proje başlıklarının siyah yapılması */
  transition: color 0.3s;
}

/* Yeni hover düzenlemesi: Proje adı kaybolmaması için */
.card:hover .project-title {
  color: #000000; /* Hover sırasında da siyah kalır */
}

/* Overlay'nin sadece kategori görünümü için animasyon ekleyin */
.card:hover .project-overlay {
  opacity: 1;
  transform: translateY(0);
}

/* Animasyonlar */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
